*.zip
*.png
*.jpg
*.jpeg
*.pth
*.npy
*.ckpt
*.pyc
*.pt
*.tar.gz
/**/__pycache__
/**/.DS_Store
/data
stargan/data/*
nni_logs/*
!demo_results/readme_image.png
!HiSD/examples/*
!ready_pt/*
!demo_input.jpg